font-family: 'Playfair Display';
#cover{
	background: url("Images/por-do-sol.jpg");
	background-size: cover;
	color: white;
	height: 100%;
	text-align: center;

}
#login{
 	padding:50px 0;
	background-image: url(Images/sky-and-tree.jpg);
	background-size: cover;
}
.main-section{
	margin: 0 auto;
	padding: 0;
}
#login .model-content{
	background-color: #20d6b4;
	opacity: .95;
	padding: 0 18px;
	border-radius: 10px;
	box-shadow: 0 0 31px #000000ab;
}
.user-img{
	margin-bottom: 35px;
}
.user-img img {
	height: 100px;
	width: 100px;
	border-radius: 5px;
}
.form-group {
	margin-bottom: 25px;
}
.form-group input {
	height: 42 px;
	border-radius: 5px;
	border: 0;
	font-size: 18 px;
	padding-left: 54px;
}
.form-group::before {
	content: '\f007';
	font-weight: 900;
	position: absolute;
	font-size: 22px;
	left: 28px;
	padding-top: 4px; 
}
.form-group:last-of-type::before {
	content:"\f023";
	font-weight: 900;
}